
<div class="backdrop is-hidden  modal">

<div class="modal_sing_up">
    <button type="button" class="modal_cross modal-close">
        <svg class="icon-cross">
            <use href="./images/icons.svg#icon-cross"></use>
        </svg>
    </button>

    <div class="container_forms">

    <div class="registration_form">
        <form class="sign_up_form ">
            <div class="sign_up_name">
                <input
                class="sign_up_input"
                type="text"
                placeholder="NAME"
                minlength="2"
                pattern="^[a-zA-Z]+$"
                required>
            </div>
            
            <div  class="sign_up_email">
               
                <input
                        class="sign_up_input"
                        type="tel"
                        placeholder="EMAIL"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                        title="Enter your mail in this format: name@mail.com"
                        required>
                        <svg  class="icon-email">
                            <use href="./images/icons.svg#icon-email"></use>
                        </svg>
            </div>
            
            <div class="sign_up_password">
                <input
                class="sign_up_input"
                type="password"
                placeholder="PASSWORD"
                required>
                <svg class="icon-lock">
                    <use href="./images/icons.svg#icon-lock"></use>
                </svg>
            </div>
            
            <div>
                <button type="submit" class="sing_up_btn ">SIGN UP</button>
            </div>
            
        </form>
    </div>

    <div class="login_form hidden">
        <form class="sign_in_form">
            
            <div class="sign_up_email">
                <input
                        class="sign_up_input"
                        type="tel"
                        placeholder="EMAIL"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                        title="Enter your mail in this format: name@mail.com"
                        required>
                        <svg class="icon-email">
                            <use href="./images/icons.svg#icon-email"></use>
                        </svg>
            </div>
            
            <div class="sign_up_password">
                <input
                class="sign_up_input"
                type="password"
                placeholder="PASSWORD">
                <svg class="icon-lock">
                    <use href="./images/icons.svg#icon-lock"></use>
                </svg>
            </div>
            
            <div>
                <button type="submit" class="sing_up_btn ">SIGN UP</button>
            </div>
            
        </form>
    </div>

    <div class="container_links">
        <a href="#" class="registration_link active">SIGN UP</a>
        <a href="#" class="login_link">SIGN IN</a>
    </div>

    </div>

    
  </div>
</div>