
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $blue;
  opacity: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  z-index: 15;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal_sing_up {
  transform: translate(-50%, -50%) scale(0.6);
}

.modal_cross {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: #F6F6F6;
  cursor: pointer;
  right: 14px;
  top: 14px;
  @media screen and (min-width: 320px) {
    width: 20px;
    height: 20px;
  }
  

  @media screen and (min-width: 851px) {
      right: 24px;
      top: 24px;

      width: 28px;
      height: 28px;
    }
}

.icon-cross {
  // fill:#111111;
  width: 14px;
  height: 14px;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition:  transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-cross:hover,
.icon-cross:hover {
  fill:#4f2ee8;
  transform: scale(1.25);
}

.icon-email {
  position: absolute;
  width: 18px;
  height: 18px;
  right: 16px;
  top: 6px;
  // fill:  #111111;
  
  @media screen and (min-width: 320px) {
   top: 16px;
  }


@media screen and (min-width: 851px) {
    width: 28px;
    height: 28px;

    right: 32px;
    top: 18px;
  }

  .sign_up_input:hover + &,
  .sign_up_input:focus + & {
    fill: #4F2EE8;
  }
}

.icon-lock{
  position: absolute;
  width: 18px;
  height: 18px;
  right: 16px;
  top: 6px;
  @media screen and (min-width: 320px) {
    top: 16px;
   }

@media screen and (min-width: 851px) {
    width: 28px;
    height: 28px;

    right: 32px;
    top: 18px;
  }

  .sign_up_input:hover + &,
  .sign_up_input:focus + & {
    fill: #4F2EE8;
  }
}

.sign_up_name {
  position: relative;
  margin-bottom: 24px;

  @media screen and (min-width: 851px) {
    margin-bottom: 28px;
  }
}

.sign_up_email{
  position: relative;
  margin-bottom: 24px;

  @media screen and (min-width: 851px) {
    margin-bottom: 28px;
  }
}

.sign_up_password {
  position: relative;
  margin-bottom: 24px;

  @media screen and (min-width: 851px) {
    margin-bottom: 40px;
  }
}

.modal_sing_up {
  position: absolute;
  top: 50%;
  left: 50%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 320px) {
      width: 335px;
      height:auto;
    }


    @media screen and (min-width: 851px) {
      width: 579px;
      height: auto;
    }
}

.sign_up_form {
  width: auto;
  height: auto;
  margin-bottom: 12px;
  @media screen and (min-width: 320px) {
    width: 295px;
    height: 272px;
    margin-bottom: 14px;
  }

  @media screen and (min-width: 851px) {
    width: 499px;
    height: 352px;
    margin-bottom: 20px;
  }
}

.sign_in_form {
  width: auto;
  height: auto;
  margin-bottom: 12px;
  @media screen and (min-width: 320px) {
    width: 294px;
    height: 198px;
    margin-bottom: 14px;
  }

  @media screen and (min-width: 851px) {
    width: 499px;
    height: 260px;
    margin-bottom: 20px;
  }

}

.sign_up_input {
  align-content: center;
  width: auto;
  height: auto;
  display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #F6F6F6;
    gap: 24px;
    outline: none;
    border: 2px solid #111111;
    border-radius: 40px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    padding-left: 7px;
    padding-right: 7px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
  @media screen and (min-width: 320px) {
    width: 295px;
    height: 50px;
    padding: 16px 24px 16px;
  }

@media screen and (min-width: 851px) {
    width: 499px;
    height: 64px;
  }
}

.sign_up_input:hover,
.sign_up_input:focus {
  border-color:#4f2ee8;
}

::placeholder {
color: #111111;
}

input:hover::placeholder  ,
input:focus::placeholder  {
    color: #4F2EE8;
}

.sing_up_btn {
  outline: none;
  background-color: #111111;
  color: #F3F3F3;
  border-radius: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 4px 4px 15px 4px #a9a9a9;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  width: auto;
  height: auto;
  margin: auto;
  padding: 5px 73px;
  @media screen and (min-width: 320px) {
    width: 293px;
    height: 50px;
    padding: 16px 114px;
  }

@media screen and (min-width: 851px) {
    width: 499px;
    height: 64px;

    padding: 20px 173px;
  }
}

.sing_up_btn:hover,
.sing_up_btn:focus{
  background-color: #4f2ee8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hidden {
  display: none;
}

.container_links {
    display: flex;
    justify-content: center;
    align-items: center;
  @media screen and (min-width: 320px) and (max-width: 850px){
    flex-direction: row;
  }
  
  @media screen and (min-width: 851px) {
    margin: auto;
      width: 153px;
      height: 24px;
    }
}

a {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
  

  @media screen and (min-width: 851px) {
    font-size: 18px;
    line-height: 24px;
  }

}

.container_links a.active,
.container_links a:hover,
.container_links a:focus {
  border-bottom: 2px solid #4F2EE8;
  color: #4F2EE8;
}

.registration_link {
  margin-right: 15px;
  @media screen and (min-width: 320px) {
    margin-right: 20px;
  }
}

.container_forms {
  width: auto;
  height: auto;
  padding: 40px 20px 40px;
  background: #F6F6F6;
  border: 2px solid #111111;
  border-radius: 18px;
  @media screen and (min-width: 320px) {
    width: 335px;
  }
  
  @media screen and (min-width: 851px) {
    width: 579px;
    padding: 80px 40px 40px;
    }
}



.dark-theme.container_forms {
  background: #202024;
  border: 2px solid #F6F6F6;
}

.dark-theme .sing_up_btn{
  background-color: #F6F6F6;
  color: #202024;
}

.dark-theme .sing_up_btn:hover,
.dark-theme .sing_up_btn:focus{
  background-color:#4F2EE8;
  color: #F6F6F6;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dark-theme input{
  border: 2px solid #F6F6F6;
  background-color: #202024;

}

.dark-theme.sign_up_input:hover,
.dark-theme.sign_up_input:focus{
  border: 2px solid #4F2EE8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dark-theme input::placeholder  ,
.dark-theme input::placeholder  {
  color: #F6F6F6;
}

.dark-theme input:hover::placeholder  ,
.dark-theme input:focus::placeholder  {
  color: #4F2EE8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dark-theme .icon-email{
  fill:  #F6F6F6;
}

.dark-theme .icon-lock{
  fill:  #F6F6F6;
}

.dark-theme.icon-cross{
  fill: #F6F6F6;
}

.dark-theme.icon-cross:hover,
.dark-theme.icon-cross:focus{
  fill:#4F2EE8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dark-theme.modal_cross{
  background: #202024;
}
